
.text {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: justify;
}

.textTitle {
    margin-bottom: 10px;
    color: #4b6584;
}

.table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    li {
        padding: 1rem;
        border: 1px solid black;
        border-radius: 1rem;
        text-align: center;
        margin-bottom: 5px;
        margin: 0 20px 20px 0;
        max-width: 100%;
        list-style: none;
        
        b {
            color: #4b6584;
        }
    }
}

.highlightabaP {
    background-color: rgba(252, 255, 68, 0.411); /* Ou qualquer cor que você preferir */
    font-weight: bold;
}

.highlightPesN {
    background-color: rgba(36, 248, 36, 0.404); /* Ou qualquer cor que você preferir */
    font-weight: bold;
}

.highlightSobP {
    background-color: rgba(252, 156, 12, 0.404); /* Ou qualquer cor que você preferir */
    font-weight: bold;
}

.highlightObs1 {
    background-color: #ff030386; /* Ou qualquer cor que você preferir */
    font-weight: bold;
}

.highlightObs2 {
    background-color: #ff0303a1; /* Ou qualquer cor que você preferir */
    font-weight: bold;
}

.highlightObs3 {
    background-color: #ff0303bd; /* Ou qualquer cor que você preferir */
    font-weight: bold;
}